<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/stylesheet.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Twitter Space Search</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K3QMVJP6VR"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K3QMVJP6VR');
  </script>
</head>

{# What and how of the website #} 
<body class="d-flex flex-column min-vh-100">
  <div class="container pt-5">
    <h1 align="center">Twitter Spaces Discovery</h1>
    <p align="center"> This website enables you discover interesting Twitter spaces that are scheduled or happening now. 
      <br> All you need is a search term (e.g. Nigeria), Hashtag (e.g. #election) or a username (e.g. @don_contra). Hit the search button and scroll through the result.
      <br> Spaces that are currently <b>"live"</b> are displayed in a Green background, while Spaces that are <b>"scheduled"</b> are displayed in a Grey background
  </p>
    <br>
    <h2 align="center">Search for Spaces</h2>
    <form method="POST">
      <input type="text" class="form-control mt-3" placeholder="Input search term here e.g. Nigeria" name="query">
      <br>
      <div class="d-flex justify-content-center mb-3">
        <button class="btn btn-success">Search</button>
      </div>
    </form>
    {# Alert to display message if there are no spaces matching the search term #} 
    
    {% if count == "There are no spaces matching your search" %}
    <div class="alert alert-danger" role="alert" align="center"> {{ count }}</div>
    {% endif %}
  </div>


  <section class="wrapper">
    <div class="container">
      <div class="row bg-success text-black" class="row justify-content-start" >
        
        {% for space in spaces %} {# For loop to iterate through the result #} 
        {% if space.state == 'live' %} {# Check to return only spaces that are currently Live #} 
        {% set hostid = space.creator_id | int %} {# This converts creator_id to integer which we will check against the user ditionary created (merger) #} 
        {% if hostid in merge %} {# This checks if the hostid exists in the user dictionary otherwise a keyerror will be retuned for Hosts with protected tweets/profile #} 

        <div class="mt-4 col-sm-12 col-md-6 col-lg-4 mb-1">
          <div class="card bg-light mb-3">
            <img class="card-img d-none">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2">{{ space.state | title }}</small> {# Returns the state of the space #} 
                <h4 class="card-title mt-0 "> {{ space.title | title }} </h4> {# Returns the title of the space #} 
                <small><i class="far fa-clock"> Number of current participants: {{ space.participant_count }} </i> </small> {# Returns the number of participants on the space #} 
                <p> <a href=https://twitter.com/i/spaces/{{space.id}}/peek target="_blank" class="btn btn-success"> Join </a></p>{# button directs to twitter to join the space #} 
              </div>
              <div class="card-footer">
                <div class="media">
                  <img class="mr-3 rounded-circle"
                    src={{ merge[hostid].profile_image_url }} 
                    alt="Generic placeholder image" style="max-width:50px"> {# Returns the Profile picture of the space host #} 
                  <div class="media-body">
                    <h6 class="my-0 text-black d-block">Host: {{ merge[hostid].name | title }} </h6> {# Returns the name of the space host #} 
                    <small><a
                      href="https://twitter.com/{{merge[hostid].username}}" target="_blank"> @{{ merge[hostid].username | title }} </a></small> {# Returns the username of the host and links to twitter #} 
                      <p class="card-text"> {{ merge[hostid].description | title }} </p> {# Returns the description on the profile of the host #}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  
  <br>
  <section class="wrapper">
    <div class="container">
      <div class="row bg-secondary text-black" class="row justify-content-start" >
        {% for space in spaces %} {# For loop to iterate through the result #} 
        {% if space.state == 'scheduled' %} {# Check to return only spaces that are scheduled #} 
        {% set hostid = space.creator_id | int %} {# This converts creator_id to integer which we will check against the user ditionary created (merger) #} 
        {% if hostid in merge %} {# This checks if the hostid exists in the user dictionary otherwise a keyerror will be retuned for Hosts with protected tweets/profile #} 
        <div class="mt-4 col-sm-12 col-md-6 col-lg-4 mb-1">
          <div class="card bg-light mb-3">
            <img class="card-img d-none">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2">{{ space.state | title }}</small> {# Returns the state of the space #} 
                <h4 class="card-title mt-0 "> {{ space.title | title }} </h4> {# Returns the title of the space #} 
                <small><i class="far fa-clock">Date and Time (GMT): {{ space.scheduled_start.strftime('%d-%m-%Y %H%MH') }}</i> </small> {# Returns the start time of space #} 
                <a href=https://twitter.com/i/spaces/{{space.id}}/peek target="_blank" class="btn btn-success"> Set Reminder </a> {# button directs to twitter to set reminder for the space #} 
              </div>
              <div class="card-footer">
                <div class="media">
                  <img class="mr-3 rounded-circle"
                    src={{ merge[hostid].profile_image_url }} 
                    alt="Generic placeholder image" style="max-width:50px"> {# Returns the Profile picture of the space host #} 
                  <div class="media-body">
                    <h6 class="my-0 text-black d-block">Host: {{ merge[hostid].name | title }} </h6> {# Returns the name of the space host #} 
                    <small><a
                      href="https://twitter.com/{{merge[hostid].username}}" target="_blank"> @{{ merge[hostid].username | title }} </a></small>  {# Returns the username of the host and links to twitter #} 
                      <p class="card-text"> {{ merge[hostid].description | title }} </p> {# Returns the description on the profile of the host #} 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>



  <div class="container mt-auto">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">&copy; 2022 Temitope Omoniyi</p>

      <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="https://bit.ly/3cDXTAP" target="_parent" class="nav-link px-2 text-muted">Personal Website /</a></li>
        <li class="nav-item"><a href="https://bit.ly/3cqwzpE" target="_parent" class="nav-link px-2 text-muted">/ Twitter</a></li>
      </ul>
    </footer>
  </div>
</body>

</html>